MYSQL_ROOT_PASSWORD=REEMPLAZAR_PASSWORD_ROOT_32_CARACTERES
MYSQL_STAGING_DATABASE=sigcel_staging
MYSQL_STAGING_USER=sigcel_staging
MYSQL_STAGING_PASSWORD=REEMPLAZAR_PASSWORD_STAGING_32_CARACTERES
MYSQL_PRODUCTION_DATABASE=sigcel_production
MYSQL_PRODUCTION_USER=sigcel_production
MYSQL_PRODUCTION_PASSWORD=REEMPLAZAR_PASSWORD_PRODUCCION_32_CARACTERES
TZ=America/Santiago
