APP_NAME=Luzparral Contingencias
APP_ENV=production
APP_KEY=REEMPLAZAR_APP_KEY_GENERADA
APP_DEBUG=false
APP_URL=http://parra.chillan.ubiobio.cl:2004
APP_TIMEZONE=America/Santiago

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_CL

LOG_CHANNEL=stderr_json
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=REEMPLAZAR_HOST_MYSQL_INSTITUCIONAL
DB_PORT=3306
DB_DATABASE=REEMPLAZAR_BASE_DE_DATOS
DB_USERNAME=REEMPLAZAR_USUARIO
DB_PASSWORD=REEMPLAZAR_PASSWORD
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SESSION_DRIVER=database
SESSION_LIFETIME=60
SESSION_EXPIRE_ON_CLOSE=true
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

PASSWORD_RESET_ENABLED=false
SECURITY_HEADERS_ENABLED=true
SECURITY_MAX_ACTIVE_USERS=10
AUTH_PASSWORD_TIMEOUT=900

FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS=sistema@luzparral.example.invalid
MAIL_FROM_NAME=Luzparral Contingencias
