/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.container.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.tar
*.tar.gz
/backups
/artifacts
/deploy/parra/*.env
/deploy/parra/.state
/auth.json
luzparral-users*.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
